<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stockify App</title>
    <link rel="stylesheet" href="~/styles.css" asp-append-version="true" />
</head>

<body>
    <div id="root"></div>

    <script src="~/main.js" asp-append-version="true"></script>
</body>

</html>